.math {
    width: 60px;
    height: 20px;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: blue;
}

.thai {
    width: 60px;
    height: 20px;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: blue;
}

.eng {
    width: 60px;
    height: 20px;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: blue;
}

.sci {
    width: 60px;
    height: 20px;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: blue;
}

.soc {
    width: 60px;
    height: 20px;
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: blue;
}